<% include layouts/standart.ejs %>

<% if(data.length > 0) { %>
<h1 class='user'><%= data[0].username %></h1>

<h2 class='user-posts-header'>All Posts: </h2>
<div class='posts-container'>
    <% data.forEach(function(post){ %>
        <div class='post-container'>
            <p class='post-text'><%=post.post %></p>
            <p class='post-date'><%=post.created_date%></p>
        </div>
    <% }) %>
</div>

<% } else { %>
    <p>User not found</p>
<% } %>

